<article class="topBgWrap clearfix">
  
<div class="fleft categorysBox mr10">
	<ul class="categorys clearfix" id="js_categorys">
     <% @category_hash.keys.each_with_index do |top_category, index| %>
    <li class="clearfix" name="cat_<%= top_category.id %>">
     <h3 class="type<%= index + 1 %>">
     <%= link_to top_category.name, frontend_category_path(top_category.id), :class=>"a_type" %>
     </h3>
    <div class="subcategoryWrap clearfix">
      <% @category_hash[top_category][0..1].each do |sub_hash| %>
        <span>
          <%= link_to sub_hash.keys.first.name, frontend_category_path(sub_hash.keys.first.id), :class=>"highLight0" %>
        </span>
      <% end %>
      </div>                                                                                                                                                          
     </li>
      <% end %>
  </ul>
	<div id="sub_categorys" class="subCategorys" style="left: 578.5px; top: 318px; display: none;">
		<ul>
    <% @category_hash.keys.each_with_index do |top_category, index| %>
            <li id="cat_<%= top_category.id %>" style="display: none;">
        <h3><a href="javascript:;" class=" dis"><%= top_category.name %>功效</a></h3>
        <div class="subcatWrap">
          <% @category_hash[top_category].each do |sub_hash| %>
            <span><%= link_to sub_hash.keys.first.name, frontend_category_path(sub_hash.keys.first.id), :class=>"highLight0" %></span>
          <% end %>
                        </div>    
    </li>
    <% end %>
        		</ul>
	</div>
  </div>  <div class="fleft imgBox mr10">
  	<section id="picBox" class="sliderBox">
        <ul id="show_pic">
         
            <li style="opacity: 0; z-index: 9;"><a target="_blank" href="http://www.68ecshop.com" style="background: none rgb(255, 255, 255);">
            <img imageurl="data/afficheimg/20140314dgfivz.jpg" imageurlsmall="data/afficheimg/20140314dgfivz.jpg" title="" alt="" src="/images/20140314dgfivz.jpg" border="0"></a></li>
         
            <li style="opacity: 0; z-index: 9;"><a target="_blank" href="http://" style="background: none rgb(255, 255, 255);">
            <img imageurl="data/afficheimg/20140220dtaqbx.jpg" imageurlsmall="data/afficheimg/20140220dtaqbx.jpg" title="" alt="" src="/images/20140220dtaqbx.jpg" border="0"></a></li>
         
            <li style="opacity: 0; z-index: 9;"><a target="_blank" href="http://" style="background: none rgb(255, 255, 255);">
            <img imageurl="data/afficheimg/20140220dkxibt.jpg" imageurlsmall="data/afficheimg/20140220dkxibt.jpg" title="" alt="" src="/images/20140220dkxibt.jpg" border="0"></a></li>
         
            <li style="opacity: 1; z-index: 10;"><a target="_blank" href="http://www.68ecshop.com" style="background: none rgb(255, 255, 255);">
            <img imageurl="data/afficheimg/20140220xqrzaa.jpg" imageurlsmall="data/afficheimg/20140220xqrzaa.jpg" title="" alt="" src="/images/20140220xqrzaa.jpg" border="0"></a></li>
         
        </ul>
    <div class="img_pagebox" style="z-index: 11;"><div class="img_page"><div id="icon_num" class="pageBox">
        <a href="javascript:;" class="active"></a>
        <a href="javascript:;" class=""></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
     
    </div></div></div>
<div class="img_pagebox" style="z-index: 11;"><div class="img_page"><div id="icon_num" class="pageBox"><a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a></div></div></div></section>
     <section class="bannerBox">
<div class="banner1">
    
<a href="affiche.php?ad_id=104&amp;uri=" target="_blank"><img src="data/afficheimg/1392884539732990774.jpg" width="230" height="120" border="0"></a>
</div>
    
<a href="affiche.php?ad_id=95&amp;uri=http%3A%2F%2Fec68.com" target="_blank"><img src="data/afficheimg/1392884533525877914.jpg" width="230" height="120" border="0"></a>
    
<a href="affiche.php?ad_id=92&amp;uri=http%3A%2F%2Fec68.com" target="_blank"><img src="data/afficheimg/1392884528210666976.jpg" width="230" height="120" border="0"></a>
  </section>
  </div>
  <div class="fright inforBox">
    <p class="freeBox"><span class="hide">全场免运费100%正品假一赔三</span></p>
    <dl class="newsBox">
     
<dt>公告</dt>
<dd>
<h4 class="ellipsis"><a href="article.php?id=33" target="_blank">小米手机2合约版</a></h4>
<h4 class="ellipsis"><a href="article.php?id=32" target="_blank">UC用户特权专场</a></h4>
<h4 class="ellipsis"><a href="article.php?id=34" target="_blank">全场特价进行中“沃”的世界我做主</a></h4>
</dd>
    </dl>
    <dl class="healthBox">
      <dt><a href="" target="_blank">进入我的测试中心</a></dt>
      <dd class="clearfix">  
      <a href="" target="_blank"><span class="icon icon1"></span><span>中医体质测试</span></a>
  	  <a href="" target="_blank"><span class="icon icon2"></span><span>糖尿病风险</span></a>
  	  <a href="" target="_blank" class="last"><span class="icon icon3"></span><span>亚健康测试</span></a>
	</dd>
    </dl>
  </div>
</article>