<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box-body">
    <div class="field form-group">
      <%= f.label :名称, :for => 'category_name' %><br>
      <%= f.text_field :name, :class => "form-control", :required=>"required" %>
    </div>
    <div class="field form-group">
      <%= f.label :父级分类 %><br>
      <%= f.collection_select :parent_category_id, Category.get_all_categories, :last, :first, {:include_blank => '顶级分类'}, {:class => "form-control"} %>
    </div>
    <div class="field form-group">
      <%= f.label :order %><br>
      <%= f.number_field :order, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :显示, :for => 'category_visible' %><br>
      <%= f.select :visible, [['是', 'y'], ['否', 'n']], {}, {:class => "form-control"} %>
    </div>
    <div class="actions">
      <%= f.submit "提交", :class => "btn-primary btn-sm" %>
    </div>
  </div>
<% end %>
